.fullPage {
    width: 1000px;
    position: relative;
    margin:0 auto;
}

.header-title{
    position: absolute;
    width:1000px;
    left: 0;
    top: 0;
}
#big-header, #main-title{
    display: block;
    width: 100%;
}


#fruitea-header{
    position: absolute;
    width: 25%;
    padding-left: 38%;
}

#title-combining-forces{
    position: absolute;
    width: 100%;
    margin-top: 12%;
}
.fruitea-chillers{
    display: block;
    width: 100%;
}
#gray-bottom-border{
     width: 100%;
     display: block;
     position: absolute;
     margin-top: 65%;

 }
#orange-drink{
    display: inline-block;
    float: left;
    padding-top: 300px;
    width: 20%;
}

#blueberry-drink{
    display: inline-block;
    float: right;
    padding-top: 300px;
    width: 20%;
}

#want-rhett-and-link-to-make{
    width: 40%;
    margin-top: 95%;
    margin-left: 8%;
}

.steps{
    display: inline-block;
    width: 100%
}
#first{
    width: 18%;
    margin-left: 10%;
}

#then{
    width:18%;
    margin-left: 5%;
}
#finally{
    width:18%;
    margin-left: 5%;
}
.bottom-section{
    display: inline-block;
    width: 100%;
    margin-top: 8%;
}
#green-tea{
    width: 33%;
}
#chillers{
    width: 33%;
}
#lemonade{
    width: 33%;
}
#title3-sipmeup{
    width: 100%;
    margin-bottom: 3%;
}
.footer-top{
    display: block;
    width:100%;
    height: 100px;
    background-color: #FFCC00;
}
.footer-bottom{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #CC9900;
}
#system{
    display: inline-block;
    font-size: 25px;
    align-content: left;
    color: white;
    width: 300px;
    margin-left: 10%;
    padding-top: 10px;
}

#have-what-it-takes{
    display: inline-block;
    font-size:10px;
    color: black;
    margin-left: 13%;
}
#before-test{
    display: inline-block;
    font-size:8px;
    color: black;
    margin-left: 25%;
}
#second{
    display: inline-block;
    font-size:8px;
    color: black;
    margin-left: 53%;
}
#test-button{
     display: inline-block;
     width: 150px;
     font-size:15px;
     color: white;
     border-radius: 5px;
     border: 3px solid white;
     height: 20px;
     margin-left: 12%;
 }
#privacy{
    display: inline-block;
    text-decoration: underline;
    font-size: 8px;
    margin-left: 35%;
}
#terms{
    display: inline-block;
    text-decoration: underline;
    font-size: 8px;
    margin-left: 5%;
}
#rules{
    display: inline-block;
    text-decoration: underline;
    font-size: 8px;
    margin-left: 5%;
}